@tailwind base;
@tailwind components;
@tailwind utilities;

.destination-home {
  @apply pt-6 lg:pt-10 h-[53.125rem] md:h-[64rem] lg:h-[56.25rem] bg-[url(/assets/destination/background-destination-mobile.jpg)] md:bg-[url(/assets/destination/background-destination-tablet.jpg)] lg:bg-[url(/assets/destination/background-destination-desktop.jpg)] bg-no-repeat bg-cover;
}
.dest-container {
  @apply w-full px-6 md:px-9 lg:px-0 text-center lg:text-left mt-6 md:mt-10 lg:mt-[4.875rem] container;
}

.dest-image {
  @apply w-[10.625rem] h-[10.625rem] md:w-[18.75rem] md:h-[18.75rem] lg:w-[27.8125rem] lg:h-[27.8125rem] mb-7 md:mb-14 lg:mb-0 mx-auto select-none;
}

.dest-dest {
  @apply uppercase font-barlowCondensed text-sm tracking-[2.36px] md:text-base md:tracking-[2.7px] text-lightBlue cursor-pointer relative after:absolute after:block after:-bottom-2 md:after:-bottom-3 after:w-full after:h-[3px] after:bg-gray h-full after:opacity-0 after:scale-0 hover:after:opacity-100 hover:after:scale-100 after:duration-500;
}
.dest-dest.active {
  @apply after:bg-white after:opacity-100 after:scale-100;
}
.dest-article {
  @apply text-lightBlue text-[0.9375rem] leading-[25px] md:text-base md:leading-7 lg:text-lg lg:leading-8 font-barlow mb-8 md:mb-12
  lg:mb-[3.375rem];
}
.dest-line {
  @apply block w-full h-[1px] bg-lineBlue mb-8 md:mb-7;
}
.dest-distance {
  @apply text-center lg:text-left flex items-center justify-center lg:justify-start flex-col md:flex-row space-y-8 md:space-y-0;
}
.fade-in {
  animation: fadein 500ms ease-in-out;
}
@keyframes fedein {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
